<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.testlove.database.mapper.RoleMapper">

    <select id="selectRoleNameByRoleId" parameterType="java.lang.Integer" resultType="java.lang.String">
        select roleName from role
        where roleId = #{roleId}
    </select>
    <select id="selectAllAuthorities" resultType="java.lang.String">
        select access from role
    </select>
    <select id="selectRoleInfoByAccess" parameterType="java.lang.String" resultType="cn.testlove.database.entity.RoleDO">
        select * from role where access=#{access}
    </select>
    <select id="selectRoleNameByAccess" parameterType="java.lang.String" resultType="java.lang.String">
        select roleName from role where access=#{access}
    </select>
</mapper>